:root {

  /* NOTES */

  /*
  Couleur dominante : #1ABC9C (hexadecimal) / rgb(26,188,156) 
  Les variable "font" concernent les textes 
  */


  /********* BODY COLORS **************/

  --main-color:#1ABC9C;

  /********* TABLE COLORS *************/
  --thead-font-color:#fff;

  /* IMPORTANT - Ne pas toucher le 0.4 qui correspond à l'opacité, 
  Les 3 première valeur correspondent à la couleurs choisie */
  --table-hover-color:rgba(26,188,156, 0.4);

  /********** LOGIN BUTTON ************/
  --degrade-color-1:#3A97D3;
  --degrade-color-2:#35A3C1;
  --degrade-color-3:#34ADA8;
  --degrade-color-4:#34b29A;
  --degrade-color-5:#34B298;

  /******** TEXT COLOR FOOTER ********/
  --font-color-footer: #fff;

}