<footer class="footer h-100 bottom_footer">
        <div class="row align-items-center m-0 h-100">
                <p class="text-center my-0">
                        &copy;Francisco Dyonisio C Mendes, Didier Demolin (Data) - C. Ponchard, R. Trouville (Website) - <br>
                        DC Paris, V. Appy, M. Inssa, S. Porotto (Front-End)
                </p>
        </div>
</footer>