{% include 'header.twig' %}
<div class="container" style="height:70vh">
	<div class="row justify-content-center align-items-center h-100">
		<div class="col-sm-7 col-md-4">
			<div class="text-center my-3">
				<p class="h5"><strong>Login</strong></p>
			</div>
			<div class="text-center" id="login">
				<form method="POST">
					<div class="my-3">
						<input type="hidden" name="act" value="login"/>
						<div class="mb-3">
							<input type="email" class="form-control" id="login" name="login" placeholder="Login">
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
						</div>
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-login">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% include 'footer.twig' %}