{% include 'header.twig' %}
<div class="container" style="height:70vh">
	<div class="row justify-content-center align-items-center h-100">
		<div class="col-sm-7 col-md-4">
			<div class="text-center my-3">
				<p class="h5 fw-bold lh-lg">Login</p>
			</div>
			<div class="text-center" id="login">
				<form method="POST">
				<input type="hidden" name="act" value="login"/>
				<div>Login<br/><input type="text" name="login"><br/>&nbsp;<br/></div>
				<div>Password<br/><input type="password" name="pass"><br/>&nbsp;<br/></div>
				<div><input type="submit"></div>
				</form>
			</div>
		</div>
	</div>
</div>
{% include 'footer.twig' %}