<div class="container-fluid p-0">
	<div class="row m-0">
		{% if not basket %}
			<div class="col-xl-3 mb-2 pe-xl-4 position-fixed" id="block_filter">
				<div class="p-3 bg-light rounded" id="scroll-form-filter">
					<a class="btn btn-primary d-block d-xl-none" data-bs-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
						<i class="fas fa-filter"></i> Filters
					</a>
					<div id="collapseForm" class="collapse d-xl-block">
						{% include 'filter_table.twig' with {'values': values, 'metas':metas}%}
					</div>

				</div>
			</div>
		{% else %}
			<div class="col-xl-3 mb-2 pe-4 ">
				<div class="p-3">
					<div class="" >
						<p class="text-center">
							<a href='download_basket.php' class="btn text-download" target='_blank'><img src="./img/download.png" alt="download" class="img-fluid"><br>Download Basket</a>
						</p>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="offset-xl-3 col-xl-9">
			<div class="table-responsive">
				<table class="table table-striped table-hover  ">
					<thead>
						<tr>
							{% for data in metas["record"] %}
								<th scope="col">{{data["label"]}}</th>
							{% endfor %}
						  	<th scope="col"></th>
							{% for data in metas["production"] %}
								<th scope="col">{{data["label"]}}</th>
							{% endfor %}
							{% for data in metas["speaker"] %}
								<th scope="col">{{data["label"]}}</th>
							{% endfor %}
						  	<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for data in results %}
							{% include 'one_record.twig' with {'data': data, 'metas':metas} %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>