<div class="container-fluid">
	<div class="row">
		<div class="col-xl-3 mb-2">
			<div class="p-2">
				<div class="d-none d-xl-block">
					{% if not basket %}
						{% include 'filter_table.twig' with {'values': values, 'metas':metas}%}
					{% else %}
						<a href='download_basket.php' target='_blank'>Download Basket</a><br/>&nbsp;<br/>
					{% endif %}
				</div>
				<div class="d-block d-xl-none">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Filters
					</button>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-sm-down">
							<div class="modal-content">
								<div class="modal-body">
									<div class="row">
										<div class="col-12">
											<button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
									</div>

									{% if not basket %}
										{% include 'filter_table.twig' with {'values': values, 'metas':metas}%}
									{% else %}
										<a href='download_basket.php' target='_blank'>Download Basket</a><br/>&nbsp;<br/>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9">
			<div class="table-responsive">
				<table class="table table-striped table-hover tablemanager">
					<thead>
						<tr>
							{% for data in metas["record"] %}
								<th scope="col">{{data["label"]}}</th>
							{% endfor %}
						  	<th scope="col"></th>
							{% for data in metas["production"] %}
								<th scope="col">{{data["label"]}}</th>
							{% endfor %}
							{% for data in metas["speaker"] %}
								<th scope="col">{{data["label"]}}</th>
							{% endfor %}
						  	<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for data in results %}
							{% include 'one_record.twig' with {'data': data, 'metas':metas} %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
