body{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

/****** FILTERS *****/
.queryfilterglobal {
	display: inline;
}
.queryfilter {
	float: left;
	margin-left: auto;
	margin-right: 10px;
	border-radius: 25px;
	padding: 10px; 
	width: auto;
	height: auto;
	background-color: var(--menu-bg-color);
	color: var(--menu-text-color);
	font-weight: normal;
}
.queryfilter input{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.queryfilter .label{
	color: var(--menu-text-inverse-color);;
	background-color: var(--menu-text-color);
	border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 20px;
}
.queryfilter .slider{
	width: 300px;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color:var(--body-background-color);
     color: var(--body-color);
     }

/****** TABLE ******/
.rTable {
  	display: table;
  	width: 99%;
}
.rTable .odd {
	background-color: var(--table-odd-background-color);
	color: var(--table-odd-color);
}
.rTable .even {
	background-color: var(--table-even-background-color);
	color: var(--table-even-color);
}

.rTableRow {
  	display: table-row;
	background-color: var(--table-even-background-color);
	color: var(--table-odd-color);
}
.rTableRow:hover {
  	background-color: var(--table-hover-background-color);
	color: var(--table-hover-color);
}

.rTableCell, .rTableHead {
  	display: table-cell;
  	padding: 3px 10px;
  	border: 1px solid var(--table-cell-border-color);
	font-weight: normal;
}
.rTableHeadCell {
	color: var(--table-header-color);
	display: table-cell;
  	background-color: var(--table-header-background-color);
  	font-weight: bold;
  	width:10%;
  	padding: 3px 10px;
  	border: 1px solid var(--table-cell-border-color);
}
.rTableHeading {
	color: var(--table-header-color);
  	display: table-header-group;
  	background-color: var(--table-header-background-color);
  	font-weight: bold;
}
.rTableFoot {
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}
.rTableBody {
  	display: table-row-group;
}

.pagecontroller {
  border-radius: 50% !important;
  height: 45px;
  width: 45px;
  border: none;
  background-color: #719c88;
}

.pagecontroller:hover, .currentPage{
  background-color: #198754;
}

#pagesControllers {
  text-align: center !important;
}

.btn-play {
  border-radius: 50% !important;
  height: 45px;
  width: 45px;
}

/****** MENU *******/
