/*********** GENERAL ***************/
html, body
{
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.nav-link{
	color: #1ABC9C;
}

.nav-link:hover{
	color: #7BCBBB;
}

#main-content
{
	min-height: 100%;
	padding-top: 5%;
	padding-bottom: 120px;
	margin-bottom:-123px;
}

.footer
{
	height: 123px;
}

/****** FILTERS *****/

#edit_form h1{
	font-size: 20px;
}

#edit_form h1.mt-4:first-child{
	padding-top: 0px !important;
}

#edit_form label{
	font-size: 16px;
	font-weight: bold;
}

#edit_form input{
	border-radius:5px;
	font-size: 16px;
}

/****** BUTTONS ********/

.green-button{
	background-color: #2ECC71;
	color:#fff;
	border-radius: 30px;
	font-size: 18px;
}

.green-button:hover{
	background-color: #fff;
	border: 2px solid #2ECC71;
	color: #000;
}

.red-button{
	background-color: #E74C3C;
	border-radius: 30px;
	color: #fff;
	font-size: 18px;
}

.red-button:hover{
	
	border: 2px solid #E74C3C;
	background-color: #fff;
	color: #000;
}

 img.imgDownload{
	margin-bottom: 10px;
}

.btn-login{
	background: linear-gradient(0.25turn, #3A97D3, #35A3C1, #34ADA8, #34b29A, #34B298);
	color: #FFF;
	border-radius: 30px;
}

.btn-login:hover{
	background: #fff;
	border : linear-gradient(0.25turn, #3A97D3, #35A3C1, #34ADA8, #34b29A, #34B298);
	color: #000;
}

.text-download {
	color: #000;
	text-decoration: underline;
	text-decoration-color: var(--main-color);
	text-decoration-thickness: 2px;
	transition: 0.2s;
}

.text-download:hover{
	text-decoration: none;
	color: var(--main-color);
}

.btn-round {
  background-color: transparent;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

/****** MENU *******/

#menuNav{
  background-color: rgba(255, 255, 255, 0.8);
}

#menuNav a.nav-list{
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

#menuNav a.nav-list:hover, 
#menuNav a.nav-list.active{
	border-bottom: 3px solid;
	border-color: var(--main-color);
	padding-bottom: 2px;
	transition: 0.2s;
}

img.img_nav{
	height: 35px;
	width:auto;
}

img.img_nav:hover{
	cursor: default;
	transform: rotate(360deg);
	transition: all 0.3s ease-in-out 0s;
}

/****** SUB-MENU *******/
#subMenu,
#subMenu2{
	background-color: rgba(255, 255, 255, 0.8);
}

ul#subMenu a.nav-link.active,
#subMenu2 a.nav-link.active{
	border-bottom: 3px solid;
	border-color: var(--main-color);
	background-color: rgba(255, 255, 255, 0.8);
}


ul#subMenu a.nav-link,
#subMenu2 a.nav-link{
	border: 0;
	color: #000;
}

ul#subMenu a.nav-link:hover,
#subMenu2 a.nav-link:hover{
	border-bottom: 3px solid;
	border-color: var(--main-color);
	background-color: #fff;
	transition: 0.2s;

}

/**** TABLE ****/

.img_size_tab{
	height: 40px;
	width: 40px;
}

/**** FOOTER ****/

.bottom_footer{
	background-color: #1ABC9C;
	color: #fff
}

/**** Sweet Alert 2 ****/
.swal2-popup {
	background: #fff !important;
}

.swal2-title,
.swal2-content {
	color: var(--main-color);
}

/**** Arrow-up ****/
#btnScrollTop {
	position: fixed;
	bottom: 20px;
	z-index: 99;
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-radius: 50%;
	height: 47px;
	width: 47px;
	left: 5%;
}


/******** DATA MANAGEMENT CONTENT ********/

div#dataManagementContent.container{
	padding-top: 8%;
}


/* Scroll Filter */
#scroll-form-filter {
	height: auto;
	z-index: 1001 !important;
}

.play-z-index img{
	z-index: 1000 !important;
}

section#main-content div#aboutContent1.container.mt-5,
section#main-content div#aboutContent2.container.mt-5{
	padding-top: 2%;
}

.border-modal {
	border-image: linear-gradient(0.25turn,#3A97D3, #34B298) 30 / 3px !important;
}

/**** Text Download ****/




/**** Media matches ****/
@media (min-width: 1200px) {
	.about-position {
		position: fixed;
	}

	.about-position {
		top: 140px;
	}
}

@media (max-height: 870px) {
	#scroll-form-filter {
		height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.about-position {
		top: 140px;
		height: 400px;
	}
}


@media (max-width: 1199.98px) {
	#scroll-form-filter {
		height: auto;
	}

	.about-position {
		top: auto;
		height: auto;
	}
}

