html, body
{
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.nav-link{
	color: #1ABC9C;
}

.nav-link:hover{
	color: #7BCBBB;
}

#main-content
{
	min-height: 100%;
	padding-top: 4.5%;
	padding-bottom: 120px;
	margin-bottom:-123px;
}

.footer
{
	height: 123px;
}

/****** FILTERS *****/

#edit_form h1{
	font-size: 20px;
}

form h1.mt-4:first-child{
	margin-top: 0px;
}

#edit_form label{
	font-size: 16px;
	font-weight: bold;
}

#edit_form input{
	border-radius:5px;
	font-size: 16px;
}

.green-button{
	border: 2px solid #2ECC71;
	border-radius: 30px;
}

.green-button:hover{
	background-color: #2ECC71;
	color: white;
}

.red-button{
	border: 2px solid #E74C3C;
	border-radius: 30px;
}

.red-button:hover{
	background-color: #E74C3C;
	color: white;
}

/****** TABLE ******/
.rTable {
  	display: table;
  	width: 99%;
}
.rTable .odd {
	background-color: var(--table-odd-background-color);
	color: var(--table-odd-color);
}
.rTable .even {
	background-color: var(--table-even-background-color);
	color: var(--table-even-color);
}

.rTableRow {
  	display: table-row;
	background-color: var(--table-even-background-color);
	color: var(--table-odd-color);
}
.rTableRow:hover {
  	background-color: var(--table-hover-background-color);
	color: var(--table-hover-color);
}

.rTableCell, .rTableHead {
  	display: table-cell;
  	padding: 3px 10px;
  	border: 1px solid var(--table-cell-border-color);
	font-weight: normal;
}
.rTableHeadCell {
	color: var(--table-header-color);
	display: table-cell;
  	background-color: var(--table-header-background-color);
  	font-weight: bold;
  	width:10%;
  	padding: 3px 10px;
  	border: 1px solid var(--table-cell-border-color);
}
.rTableHeading {
	color: var(--table-header-color);
  	display: table-header-group;
  	background-color: var(--table-header-background-color);
  	font-weight: bold;
}
.rTableFoot {
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}
.rTableBody {
  	display: table-row-group;
}

.btn-round {
  background-color: transparent;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

/****** MENU *******/
#menuNav{
  background-color: rgba(255, 255, 255, 0.8);
}

#menuNav a.nav-list{
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

#menuNav a.nav-list:hover, 
#menuNav a.nav-list.active{
	border-bottom: 3px solid;
	border-color: var(--main-color);
	padding-bottom: 2px;
}

img.img_nav{
	height: 35px; 
	width:auto;
}
/****** SUB-MENU *******/
#myTab{
	background-color: rgba(255, 255, 255, 0.8);
}

/**** Footer ****/

.bottom_footer{
	background-color: #1ABC9C;
	color: #fff
}

/**** Sweet Alert 2 ****/
.swal2-popup {
	background: #fff !important;
}

.swal2-title,
.swal2-content {
	color: var(--main-color);
}

/**** Arrow-up ****/
#btnScrollTop {
	position: fixed;
	bottom: 20px;
	right: 130px;
	z-index: 99;
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-radius: 50%;
	height: 47px;
	width: 47px;
}
/**** BTN LOGIN ****/
.btn-login {
	background: linear-gradient(0.25turn, #3A97D3, #35A3C1, #34ADA8, #34b29A, #34B298);
	color: #FFF;
	border-radius: 30px;
}

/**** Text Download ****/
.text-download {
	color: #000;
	text-decoration: underline;
	text-decoration-color: var(--main-color);
}

.text-download:hover{
	text-decoration: none;
	color: var(--main-color);
}
/* Scroll Filter */
#scroll-form-filter {
	height: auto;
}

@media (max-height: 870px) {
	#scroll-form-filter {
		height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
/**** About ****/
@media (min-width: 1200px){
	.about-position{
		position: fixed;
	}
}
