</section>
<button onclick="topFunction()" id="btnScrollTop" class="btn p-0 d-none" title="Go to top">
    <img src="./img/arrow-up.png" alt="Arrow up" class="img-fluid">
</button>
<script>
    //Get the button
    var mybutton = $("#btnScrollTop");
    // When the user scrolls down 150px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };
    function scrollFunction() {
        if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
            if (!mybutton.hasClass('d-block')) {
                if (mybutton.hasClass('d-none')) {mybutton.removeClass('d-none') }
                mybutton.addClass('d-block')
            }
        } else {
            if (!mybutton.hasClass('d-none')) {
                if (mybutton.hasClass('d-block')) { mybutton.removeClass('d-block') }
                mybutton.addClass('d-none')
            }
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<div class="text-center py-5 mt-5 bottom_footer">
    &copy;Francisco Dyonisio C Mendes, Didier Demolin (Data) <br>
    C. Ponchard, R. Trouville (Website)
</div>
{% block javascripts %}{% endblock %}
</body>

</html>

<div class="text-center py-5 bg-light mt-5">
    &copy;Francisco Dyonisio C Mendes, Didier Demolin (Data) - C. Ponchard, R. Trouville (Website)
</div>
